@tailwind base;
@tailwind components;
@tailwind utilities;


.dice-card {
    position: relative;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  transition: transform 1s; 
}

.dot-container {
  position: absolute;
  background-color: #ffF;
  border-radius:5px;
  width: 100px;
  height: 100px;
  /* border: 1px solid #e5e5e5; */
  text-align: center;
  line-height: 2em;
}


.dice-card i {
  font-size: 5rem;
  /* color: blue; */

}



.dot-container {
  transform: rotateY(90deg) translateZ(3.1em); 
  transform: rotateX(-900deg) rotateZ(1080deg);
}


